/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
    /*Com a medida vw o site se adapta ao tamanho da tela(view width)*/
    width: 65vw;
    max-width: 65vwpx;
    /*Define o tamanho maximo de pixels*/
    height: auto;
    margin: 0 auto;
    background: rgb(171, 34, 4);
    background: linear-gradient(351deg, rgba(171, 34, 4, 1) 33%, rgba(226, 126, 55, 1) 100%, rgba(251, 208, 179, 1) 100%);
    /*Define a margem*/
    /*display: flex;                /*permite que eu possa manipular os elementos, como mover e alinhar*/
    color: bisque;
}


#menu {
    padding-top: 20px;
    /*padding-xxx empurra os elementos da caixa para os lados/cima e baixo*/
    width: 100%;
    height: 70px;
    background: rgb(153, 49, 55);
    background: linear-gradient(90deg, rgba(153, 49, 55, 1) 0%, rgba(217, 6, 55, 1) 67%, rgba(205, 87, 3, 1) 100%);
    border: 2px solid #fefefe;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#menu ul {
    display: flex;
    justify-content: space-around;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: bisque;
    font-size: 32px;
    font-weight: 700;

    &:hover {
        color: coral;
        text-decoration: underline;
    }
}

#titulo {
    width: 100%;
    height: auto;
    background-color: #892828;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #fefefe;
    /*ESPESSURA E COR DA BORDA*/
    justify-items: center;
}

#titulo img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    /*CHANFROS DA CAIXA*/
    border: 2px solid #000;
    margin-bottom: 3px;
}

#titulo h1 {
    text-align: center;
}

#receita {
    width: 100%;
    height: auto;
    background-color: #892828;
    padding: 0 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
    border-radius: 8px;
    border: 2px solid #fefefe;
}

#conteudo,
#preparo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

MargemTitulos {
    margin: 15px 0;
}

#conteudo ul li {
    list-style-position: inside;
}

#preparo ol li {
    list-style-position: inside;
}

/* Alinhar os números da lista numerada de mode de preparo */
#modo-preparo ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;

    &:last-child {
        margin: 0;
    }

    &::marker {
        font-weight: 800;
    }
}

@media (max-width: 600px) {
    body {
        width: 100vw;
        max-width: 100vw;
    }
}

h1 {
    font-size: 20px;
    text-align: center;
}

#menu {
    height: 50px;
}

#menu ul {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

#menu ul li a {
    font-size: 15px;
}

#receita {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}