/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

.center-text {
    text-align: center;
}

body {
    font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
    width: 1000px;
    /*Define o tamanho maximo de pixels*/
    height: auto;
    max-width: 1000px;
    background-color: coral;
    margin: 0 auto;
    /*Define a margem*/
    /*display: flex;              /*permite que eu possa manipular os elementos, como mover e alinhar*/
    color: #fefefe;
}

#titulo {
    width: 100%;
    height: auto;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    **CHANFROS DA CAIXA*/ border: 2px solid #fefefe;
    /*ESPESSURA E COR DA BORDA*/
    padding: 0 60;
    padding-top: 30px;
    margin-top: 5px;
}

#titulo img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    /*CHANFROS DA CAIXA*/
    margin-bottom: 5px;
    border: 2px solid #000;
    */
}

#conteudo {
    width: 100%;
    height: auto;
    background-color: brown;
    border-radius: 8px;
    /*CHANFROS DA CAIXA*/
    border: 2px solid #fefefe;
    /*ESPESSURA E COR DA BORDA*/
    margin-bottom: 5px;
}